<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h3>ようこそ<strong>Bookers</strong>へ！</h3>
      <p class="mx-3 mt-2"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
      <p class="mx-3">印象を共有し交換することができます</p>
      <%=link_to "start",books_path,class:"mx-3"%>
    </div>
  </div>
</div>



